# Data Science tools and Ecosystem

___In this notebook , Data Science Tools and Ecosystem are summerized___

__objectives__
- java
- c++
- python
- rstudio

Some of the Popular langauges that data Scientist use are :
1. python
2. r
3. java
4. c++

___some of the commonly used libraries used by Data Scientists include:___
1. Matplotlib
2. NumPy
3. ploty

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| Jupyter Labs       |
| Git hub            |

### Below are a few examples of evaluating arithmetic expressions in Python ###
* 3+4=7
* 5*5=25
* 10-1=9
* 10/2=5

In [4]:
##### This a simple arithmetic expression to mutiply then add integers.#####
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.#
200/60

3.3333333333333335

## Author ##
YASHODEEP GUNWANT DHANFOLE